@font-face {
  font-family: "iconfont";
  /* Project id 3157159 */
  src: url('//at.alicdn.com/t/font_3157159_lac4pwjnk5q.woff2?t=1642834384286') format('woff2'), url('//at.alicdn.com/t/font_3157159_lac4pwjnk5q.woff?t=1642834384286') format('woff'), url('//at.alicdn.com/t/font_3157159_lac4pwjnk5q.ttf?t=1642834384286') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianzan:before {
  content: "\e604";
}
.icon-shouye:before {
  content: "\e605";
}
.icon-fenxiang:before {
  content: "\e606";
}
.icon-guanbi:before {
  content: "\e607";
}
.icon-wenda:before {
  content: "\e608";
}
.icon-zuojiantou:before {
  content: "\e609";
}
.icon-youjiantou:before {
  content: "\e60a";
}
.icon-wuwangluo:before {
  content: "\e60b";
}
.icon-wode:before {
  content: "\e60c";
}
.icon-gengduo:before {
  content: "\e60d";
}
.icon-dianzan2:before {
  content: "\e60e";
}
.icon-pinglun:before {
  content: "\e60f";
}
.icon-shoucang:before {
  content: "\e610";
}
.icon-yuedu:before {
  content: "\e611";
}
.icon-lishi:before {
  content: "\e612";
}
.icon-shouji:before {
  content: "\e613";
}
.icon-shanchu:before {
  content: "\e614";
}
.icon-zuopin:before {
  content: "\e615";
}
.icon-shipin:before {
  content: "\e616";
}
.icon-sousuo:before {
  content: "\e617";
}
.icon-yanzhengma:before {
  content: "\e618";
}
.nav-bar {
  background-color: #4fc08d;
}
.nav-bar .van-nav-bar__title {
  color: azure;
}
.btn {
  background-color: #4fc08d;
  border: 1px solid #4fc08d;
}
body {
  background-color: #f5f7f9;
}
.nav-bar .iconfont {
  color: #fff;
}
